
.NoteListNav__list {
  list-style-type: none;
  margin: 130px 0 0;
  padding: 0;
}

.NoteListNav__button-wrapper {
  margin: 0 0 0 auto;
  max-width: 180px;
}

.NoteListNav__add-folder-button {
  margin: 20px auto;
}
.NoteListNav__add-folder-button:hover {
  background-color: #29862e;
  color: white;
}

.NoteListNav__folder-link {
  background-color: #030f1f;
  color: #b5b3b3;
  display: block;
  font-family: var(--custom-font);
  font-size: 20px;
  margin: 0 0 8px auto;
  max-width: 180px;
  padding: 8px 16px;
  text-decoration: none;
}
.NoteListNav__folder-link:hover {
  color: #FFB72F;
  cursor: pointer;
}
.NoteListNav__folder-link.active {
  background-color: #102541;
}

.NoteListNav__num-notes {
  color: #adadad;
  display: block;
  float: right;
  margin-right:10px;
  font-size: 10px;
}


.Folder__delete {
  --folder-button-height: 20px;
  background-color: #041a3a;
  border: 0;
  color: #bdbcbc;
  float: right;
  font-size: 12px;
  height: var(--folder-button-height);
  position: relative;
  top: calc((var(--folder-button-height) + 20px) * -1);
  /* transform-origin: right bottom; */
  /* transform: rotate(-90deg); */
  width: calc(var(--folder-height));
}
.Folder__delete:hover {
  background-color: #bd0909;
  color: white;
  cursor: pointer;
  font-weight: bold;
}